/*
.wrap #circle .face2 {
  display: block;
}
*/

.wrap #circle .face2 .inner > div {
  width: 100%;
  height: 100%;
}

.wrap #circle .face2 .inner > div > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.wrap #circle .face2 .inner > div > div video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.wrap #circle .face2 .inner > div > div h2 {
  position: absolute;
  top: 140px;
  left: 50px;
  font-size: 40px;
  color: #fff;
  text-align: left;
  text-shadow: 0 0 10px aqua;
  z-index: 2;
}
